@import '../../styles/variables.scss';

.section {
  min-height: 100vh;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  &:last-child {
    min-height: 80vh;
    height: auto;
    z-index: 1;
  }
}

.sectionHeight {
  min-height: calc(100vh - (2 * #{$header-height}));
  @media (max-width: $mobile-width) {
    align-items: flex-start;
  }
}

.containerInfo {
  max-width: 1250px;
  margin: auto;
  padding: calc(2 * #{$header-height}) 150px 0;

  @media (max-width: $tablet-width) {
    padding: calc(2 * #{$header-height}) 80px 0;
  }
  @media (max-width: $mobile-width) {
    padding: calc(2 * #{$header-height}) 2rem 0;
  }
}
