@import '../../styles/variables.scss';
@import '../../styles//animations.scss';

@include section;

.page {
  box-sizing: inherit;
}

.containerInfo {
  @media (min-width: $tablet-width + 1) {
    padding: 0 150px;
  }
  @media (max-width: $tablet-width) {
    padding: 0 75px;
  }
  @media (max-width: $mobile-width) {
    padding: 25px;
  } 
  margin: auto;
  min-width: 300px;
  max-width: 1400px;
}