@import './variables.scss';

@mixin section {
  .section {
    min-height: 50vh;
    margin: auto;
    max-width: 600px;

    // opacity: 0;
    // transform: translate(0, 10vh);
    // transition: all 1s;
  }

  .section.visible {
    opacity: 1;
    transform: translate(0,0);
  }
}
