@import './variables.scss';

body {
  font-family: 'Roboto', sans-serif;
  background-color: $navy;
  color: $font-color;
  margin: 0px;
  width: 100%;
  min-height: 100%;
  line-height: 1.3;
}

html {
  box-sizing: border-box;
  width: 100%;
  font-size: $font-xs;
}
*, *:before, *:after {
  box-sizing: inherit;
}