$dark-red: #1b020e;
$red: #620231;
$light-red: #bd005b;
$orange: #ffaf64;
$orange-dark: #4d2503;
$orange-opaque: #ffaf6496;
$navy-shadow: rgba(2,12,27,0.7);
$font-color: #c5d5cb;
$font-color-dark: #8f9b93;
$border-radius: 4px;
$font-xs: 16px;
$font-sm: 18px;
$font-md: 20px;
$font-lg: 22px;
$mobile-width: 500px;
$tablet-width: 500px;
$header-height: 75px;
$icon-size: 50px;
