@import '../../styles/variables.scss';
@import '../../styles/button.scss';
@import '../../styles/component.scss';

.aboutBtn {
  @include about-button;
}

.aboutContainer {
  @include container;
}

.aboutHeader {
  font-size: 22px;
  color: $font-color;
  margin: 0;
  span {
    color: $red;
  }
  div {
    font-size: 44px;
    color: $light-red;
  }
}

.breakLine {
  border-bottom: 1px solid $light-red;
  max-height: 1px;
}

.aboutContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.aboutInfo {
  max-width: 60%;
  padding-top: 1.5rem;
  font-size: $font-sm;
  @media (max-width: $mobile-width) {
    padding-bottom: 2rem;
    max-width: 100%;
    text-align: center;
  }
}

.highlight {
  color: $orange;
}