@import '../../styles/variables.scss';

header, .headerItems {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  justify-content: space-between;
  box-shadow: 0 10px 30px -10px var($navy-shadow);
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 0px 50px;
}

.headerList {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  li {
    margin: 0px .5rem;
    font-size: $font-xs;
  }
  a {
    padding: .75rem;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
}

.resume {
  font-size: $font-xs;
  color: $green;
  border: 1px solid $green;
  border-radius: $border-radius;
  padding: 0.75rem 1rem;
  margin-left: .5rem;
  cursor: pointer;
}

.imageBox {
  width: 42px;
  height: 30px;

  img {
    height: 100%;
    width: 100%;
  }
}