@import '../../styles/variables.scss';
@import '../../styles/button.scss';
@import '../../styles/list.scss';

header, .headerItems {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  justify-content: space-between;
  box-shadow: 0 10px 30px -10px var($navy-shadow);
  z-index: 10;
  position: fixed;
  width: 100%;
  height: $header-height;
  padding: 0px 50px;
  background-color: $dark-red;
}

.headerList {
  @include list;
  li {
    margin: 0px .5rem;
    font-size: $font-sm;
    &:hover {
      color: $font-color-dark;
    }
  }
  a {
    padding: .75rem;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
}

.resume {
  @include orange-button;
  text-decoration: none;
}

.imageBox {
  width: 42px;
  height: 30px;

  img {
    height: 100%;
    width: 100%;
  }
}