@import '../../styles/variables.scss';
@import '../../styles/button.scss';
@import '../../styles/list.scss';

$ham-menu-width: 250px;

header, .headerItems {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerItems {
  @media(max-width: $mobile-width) {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

header {
  justify-content: space-between;
  z-index: 4;
  position: fixed;
  width: 100%;
  height: $header-height;
  background-color: $header-color;
  transition: all 350ms ease-in-out;
  padding: 0 50px;
  @media (max-width: $mobile-width) {
    padding: 0 2rem;
  }
}

.hide {
  height: 0px;
  margin-top: -25px;
}

.shadow {
  box-shadow: 0 0 10px black;
}

.headerList {
  @include list;
  li {
    margin: 0px .5rem;
    font-size: $font-sm;
    &:hover {
      color: $font-color-dark;
    }
  }
  a {
    padding: .75rem;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    font-size: $font-md;
    li {
      padding: 3px 20px 20px;
    }
  }
}

.resume {
  @include orange-button;
  text-decoration: none;
}

.imageBox {
  width: 62px;
  height: 40px;

  img {
    height: 100%;
    width: 100%;
  }
}

.hamBtn {
  width: 50px;
  height: 50px;
}

.hamMenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  height: calc(100vh + 25px);
  width: $ham-menu-width;
  z-index: 5;
  background-color: $dark-red;
  box-shadow: rgba($orange-dark, .50) 0px 5px 15px;
  padding: 50px 10px;
}

.hide {
  visibility: hidden;
  transition: all .35s ease-out;
  margin-right: calc(-1 * #{$ham-menu-width})
}

.show {
  visibility: visible !important;
  margin-right: 0px !important;
}

.closeIcon {
  display: flex;
  justify-content: center;
  margin-left: 80%;
  font-size: 38px;
  color: $orange;
  cursor: pointer;
}

.hamIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.icon {
  width: 50px;
  height: 50px;
}
